*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    z-index: 100;
}

.navbar-brand{
    font-size: 3rem;
    color:black;
    font-family: "Lobster Two", sans-serif;


}
.navbar-brand:hover{
    color: black;
    
}
.nav-link{
    text-transform: uppercase;
    /* margin: 0,20px; */
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-family: "Rubik", sans-serif;

}
.nav-link:hover{
    color: black;
    border: 1px solid black;
}

.search{
    height: 40px;
    width: 80%;
    outline: none;
    border-radius: 60px;
    border: 2px solid rgb(248,26,92);
    margin-right: -33px;
    font-family: "Rubik", sans-serif;

}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius:  60px;
    background-color: rgb(248,26,92);
    color: white;
    font-weight: 700;
    
}
.btn0:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(248,26,92);
}

.main{
    background: url(fruit-background.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
}

 .btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline:none;
    background-color: rgb(248,26,92);
    color: white;
    border-radius: 60px;

}

.btn1:hover{
    background-color: white;
    color: rgb(248,26,92);
    border: 2px solid rgb(248,26,92);
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 40px 47px 81px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 40px 47px 81px -21px rgba(0,0,0,0.75);
    box-shadow: 40px 47px 81px -21px rgba(0,0,0,0.75);
}

.card:hover{
    -webkit-box-shadow: 18px 21px 45px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 21px 45px -11px rgba(0,0,0,0.75);
    box-shadow: 18px 21px 45px -11px rgba(0,0,0,0.75);
    transition: 0.5s ease;
}
.imagecard{
    border-radius: 20px;
   margin: 2rem;
   box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
   height: 25rem;
   width: 23rem;
   

}
.imagecard img{
    border-radius: 20px;
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    
}

.imagecard:hover{
    -webkit-box-shadow: 18px 21px 45px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 21px 45px -11px rgba(0,0,0,0.75);
    box-shadow: 18px 21px 45px -11px rgba(0,0,0,0.75);
    transition: 0.5s ease;

}

.card-body img{
    height: 20rem;
    width: 20rem;
}
.apple{
    background: url(women-apple.avif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
.apple h1{
    font-family: 'Lobster',cursive;
    font-weight: 700;
}

/* Google Font CDN Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.contact-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.contact{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
}
.contact .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: rgb(248,26,92);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contact .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: rgb(248,26,92);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: rgb(248,26,92);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: rgb(248,26,92);
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .contact .content{
    flex-direction: column-reverse;
  }
 .contact .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact .content .left-side::before{
   display: none;
 }
 .contact .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}